@page "/samplebrowser/templates"
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using Syncfusion.Blazor.Lists
@using ListViewStability.Data;

<div class="col-lg-12 control-section">
    <SfListView ID="template" DataSource="@DataSource"
                ShowHeader="true"
                HeaderTitle="Syncfusion Blog"
                CssClass="e-list-template listview-template">
        <ListViewFieldSettings TValue="NewsDataModel" Id="Id" Text="Text" Child="Child"></ListViewFieldSettings>
        <ListViewTemplates TValue="NewsDataModel">
            <Template>
                @{
                    <div class="@(context.Category != null ? "clearfix desc e-list-wrapper e-list-multi-line e-list-avatar" : "clearfix e-list-wrapper e-list-multi-line e-list-avatar")">
                        @if (context.ImgSrc != "")
                        {
                            <img class="e-avatar" src="@UriHelper.ToAbsoluteUri($"/list-view/{context.ImgSrc}.png")">
                        }
                        <span class="e-list-item-header">@context.Title</span>
                        <span class="e-list-content e-text-overflow">@context.Description</span>
                        @if (context.TimeStamp != "")
                        {
                            <div id="list-logo" onclick="event.stopPropagation();">
                                <span class="bookmark" title="We can customize this element to perform our own action"></span>
                                <span class="comments" title="We can customize this element to perform our own action"></span>
                                <span class="share" title="We can customize this element to perform our own action"></span>
                            </div>
                        }
                        @if (context.TimeStamp != "")
                        {
                            <div class="timeStamp">@context.TimeStamp</div>
                        }
                    </div>
                }
            </Template>
        </ListViewTemplates>
    </SfListView>
</div>
@code {
    List<NewsDataModel> DataSource = ListViewDataSource.DataSource;
}